* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  display: flex;
  gap: 100px;
  position: fixed;
  z-index: 999999;
  background-color: white;
  height: 70px;
  width: 100%;
}
.logo {
  position: relative;
  left: 1300px;
  top: 20px;
}
.eng {
  position: relative;
  left: 600px;
  top: 32px;
  cursor: pointer;
 font-family: sans-serif;
 font-weight: 20;
 font-size: medium;
}
.ul {
  display: flex;
  list-style: none;
  gap: 20px;
  position: relative;
  right: 80px;
  top: 30px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: medium;
}
.ul li a {
  text-decoration: none;
  color: black;
}
.btn {
  position: relative;
  left: 550px;
  top: 20px;
  border-radius: 10px;
  width: 100px;
  height: 35px;
  cursor: pointer;
  border: none;
}
.btn:hover {
  transform: scale(1.1);
}
.down {
  position: relative;
  left: 470px;
  top: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 100px;
  height: 35px;
  cursor: pointer;
  border: none;
}
.down:hover {
  transform: scale(1.1);
}
.Uvl_iW {
  position: relative;
  top: 20px;
}
.web {
  position: relative;
  top: 100px;
  left: 600px;
  font-family: sans-serif;
  font-weight: 800;
}
.dele{
  position: relative;
  left: 100px;
}
.bb{
  position: relative;
  left: 20px;
  font-size: 20px;
}
.bey{
  position: relative;
  left: 250px;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 20px;
}
.tre{
  font-size: 20px;
}
.pad {
  position: relative;
  left: 600px;
  top: 150px;
  font-family: sans-serif;
  font-weight: 500;
}
.for {
  position: relative;
  left: 1100px;
  top: 200px;
  background-color: rgb(2, 128, 231);
  border-radius: 10px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 550;
}
.bu{
  position: relative;
  left: 650px;
}
.try:hover {
  background-color: rgb(68, 68, 70);
}
.try {
  position: relative;
  left: 110px;
  top: 190px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.pr{
    position: relative;
    left: 800px;
    top: 220px;
    color: rgb(76, 80, 83);
    font-size: 20px;
}
.hh{
    position: relative;
    top: 300px;
}
.ai{
 position: relative;
 left: 1350px;
 top: 300px;
}
.ai2{
  position: relative;
  left: 1350px;
  top: 300px;
}
.ai3{
  position: relative;
  left: 1350px;
  top: 300px;
}
.ai4{
  position: relative;
  left: 1350px;
  top: 300px;
}
.ai5{
  position: relative;
  left: 1350px;
  top: 300px;
}
.ai6{
  position: relative;
  left: 1350px;
  top: 300px;
}
.ai7{
  position: relative;
  left: 50px;
  top: 170px;
}
.img{
  width: 600px;
  height: 500px;
  position: relative;
  top: 100px;
  left: 400px;
}
.vd{
  position: relative;
  left: 350px;
  bottom: 50px;
}
.car{
  position: relative;
  left: 550px;
  bottom:65px;
  color: rgb(95, 94, 94);
  font-size: 30px;
}
.tik{
  position: relative;
  left: 700px;
  bottom:100px;
  color: rgb(95, 94, 94);
  font-size: 30px;
}
.run{
  position: relative;
  left: 850px;
  bottom:135px;
  color: rgb(95, 94, 94);
  font-size: 30px;
}
.google{
  position: relative;
  left: 1050px;
  bottom:170px;
  color: rgb(95, 94, 94);
  font-size: 30px;
}
.edit{
  position: relative;
  left: 150px;
  bottom:105px;
  color: rgb(0, 0, 0);
  font-size: 50px;
}
.the{
  position: relative;
  left: 150px;
  bottom:100px;
  color: rgb(76, 80, 83);
  font-size: 20px;
}
.ss{
  background-color: rgba(132, 222, 245, 0.377);
  
}
.clone{
  position: relative;
  right: 80px;
  top: 8px;
}
.con{
  position: relative;
  top: -10px;
}
.ss{
  position: relative;
  left: 50px;
  width: 1400px;
  top: 50px;
  height: 500px;
  border-radius: 50px;
  border: none;
}
.mm{
  position: relative;
  right: 660px;
  bottom: 100px;
}
.dd{
  position: relative;
  left: 1400px;
  bottom: 450px;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  background-color: black;
  color: white;
}
.dd:hover {
  background-color: rgb(68, 68, 70);
}
.text{ 
  position: relative;
  right: 450px;
  bottom: 130px;
}
.vv{
 position: relative;
 right: 373px;
 bottom: 50px;
 font-family: sans-serif;
 font-weight: 600;
 font-size: 20px;
}
.pp{
  position: relative;
  right: 315px;
  bottom: 40px;
}
.ww{
   position: relative;
  right: 340px;
  bottom: 35px;
}
.whit{
  position: relative;
  right: 385px;
  bottom: 10px;
}
.qq{
    position: relative;
  bottom: -5px;
 right: 374px;
}
.ee{
position: relative;
 right: 383px;
 bottom: -15px;
}
.vd1{
  width: 500px;
  height: 300px;
  position: relative;
  left: 900px;
  bottom: 400px;
}
.for{
  position: relative;
  left: 100px;
}
.ikki{
    position: relative;
    left: 185px;
    bottom: 230px;
}
.hr{
    position: relative;
    left: 170px;
    bottom: 200px;
    width: 1400px;
}
.aud{
    position: relative;
    left: 400px;
    bottom: 270px;
}
.plus{
    position: relative;
    left: 1500px;
    bottom: 300px;
}
.tem{
    position: relative;
    left: 700px;
    bottom: 200px;
}
.manfi{
    position: relative;
    left: 700px;
    bottom: 180px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 15px;
    width: 350px;
}
.sin{
    position: relative;
    left: 800px;
    bottom: 680px;
     background-color: rgb(0, 0, 0);
  color: white;
   border-radius: 10px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.sin:hover {
  background-color: rgb(68, 68, 70);
}
.HS4IZ6{
    border-radius: 10%;
    width: 20%;
    height: 20%;
    position: relative;
    bottom: 30px;
    right: 80px;
}
.HS4IZ6:hover {
    transform: scale(1.1);

}
.xS4IZ6{
    width: 13%;
    height: 100%;
    border-radius: 10%;
    position: relative;
    bottom: 30px;
    right: 40px;
}
.xS4IZ6:hover {
    transform: scale(1.1);

}
.vS4IZ6{
    border-radius: 10%;
    width: 13%;
    height: 10%;
    position: relative;
    bottom: 30px;
    left: 10px;
}
.vS4IZ6:hover {
    transform: scale(1.1);
}
.mS4IZ6{
    border-radius: 10%;
    width: 13%;
    height: 10%;
    position: relative;
    bottom: 30px;
    left: 60px;
}
.mS4IZ6:hover {
    transform: scale(1.1);
}
.nS4IZ6{
   border-radius: 10%;
    width: 20%;
    height: 20%;
    position: relative;
    bottom: 30px;
    left: 110px;
}
.nS4IZ6:hover {
    transform: scale(1.1);
}
.voo{
    position: relative;
    top: 80px;
    left: 20px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.is{
    position: relative;
    top: 100px;
    left: 20px;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 20px;
    width: 400px;
}
.s1n{
  position: relative;
  bottom: 400px;
  left: 1500px;
  background-color: black;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  cursor: pointer;
  color: white;
}
.s1n:hover {
  background-color: rgb(68, 68, 70);
}
.Rk4db5{
  border-radius: 10%;
    width: 20%;
    height: 20%;
    position: relative;
    top: 200px;
    z-index: 999999;
    left: 100px;
}
.Rk4db5:hover {
    transform: scale(1.1);
}
.rk4db5{
    border-radius: 10%;
        width: 20%;
        height: 20%;
        position: relative;
        top: 150px;
        z-index: 999999;
}
.sk4db5{
    border-radius: 10%;
        width: 20%;
        height: 20%;
        position: relative;
        top: 100px;
        z-index: 999999;
}
.hk4db5{
    border-radius: 10%;
        width: 20%;
        height: 20%;
        position: relative;
        top: 50px;
        z-index: 999999;
}
.count{
  position: relative;
  left: 350px;
  top: 250px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 40px;
}
.kk{
    position: relative;
    left: 750px;
    top: 200px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
}
.ano{
    position: relative;
    left: 1150px;
    top: 150px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
}
.dis{
    position: relative;
    left: 1550px;
    top: 100px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
}
.ol{
    position: relative;
    left: 370px;
    top: 120px;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: grey;
}
.cre{
    position: relative;
    left: 770px;
    top: 100px;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: grey;
}
.app{
    position: relative;
    left: 1110px;
    top: 80px;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: grey;
}
.lang{
    position: relative;
    left: 155x0px;
    top: 60px;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: grey;
}
.plat{
    position: relative;
    left: 800px;
    top: 50px;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: grey;
}