*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.car{
    border: 1px solid black;
    width: 150px;
    height: 310px;
    border-radius: 10px;
    position: relative;
    left: 100px;
    background-color: rgba(199, 197, 197, 0.527);
    border: none;
}
.sot{
  position: relative;
  left: 35px;
  top: 20px;
  color: white;
  background-color: green;
  border-radius: 20px;
  width: 70px;
  height: 20px;
  cursor: pointer;
}
.sot:hover{
    transform: scale(1.1);
     background-color: brown;
}
.img{
    border-radius: 10px;
    width: 100%;
}
.img:hover{
    transform: scale(1.01);
}
.toza{
    position: relative;
    top: 10px;
}